/* ----------------font family---------------
font-family: 'Taviraj';
font-family: 'Noto Sans';
font-family: 'Handlee';
------------------------------------------*/
/* handlee-regular - latin */
@font-face {
     font-family: 'Handlee';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/handlee-v14-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/handlee-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/handlee-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/handlee-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/handlee-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/handlee-v14-latin-regular.svg#Handlee') format('svg'); /* Legacy iOS */
   }
/* noto-sans-300 - latin */
@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/noto-sans-v27-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-v27-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-v27-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-v27-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-v27-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-v27-latin-300.svg#NotoSans') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-regular - latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-v27-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-500 - latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-v27-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-v27-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-v27-latin-500.svg#NotoSans') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-600 - latin */
  @font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/noto-sans-v27-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-v27-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-v27-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-v27-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-v27-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-v27-latin-600.svg#NotoSans') format('svg'); /* Legacy iOS */
  }
  /* taviraj-300 - latin */
@font-face {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/taviraj-v11-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/taviraj-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/taviraj-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/taviraj-v11-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/taviraj-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/taviraj-v11-latin-300.svg#Taviraj') format('svg'); /* Legacy iOS */
  }
  /* taviraj-regular - latin */
  @font-face {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/taviraj-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/taviraj-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/taviraj-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/taviraj-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/taviraj-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/taviraj-v11-latin-regular.svg#Taviraj') format('svg'); /* Legacy iOS */
  }
  /* taviraj-500 - latin */
  @font-face {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/taviraj-v11-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/taviraj-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/taviraj-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/taviraj-v11-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/taviraj-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/taviraj-v11-latin-500.svg#Taviraj') format('svg'); /* Legacy iOS */
  }
  /* taviraj-600 - latin */
  @font-face {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/taviraj-v11-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/taviraj-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/taviraj-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/taviraj-v11-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/taviraj-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/taviraj-v11-latin-600.svg#Taviraj') format('svg'); /* Legacy iOS */
  }